extends layouts/default

block content
	h1 Hello
		span#name  #{user.displayName}
		span !
	
	h2 Guides
	button#new-guide-button.material-symbols-outlined add
	include partials/newGuide
	ul
		each guide in user.guides
			li
				a(href=`/api/guide/${guide.id}`)= guide.title
