extends layouts/default

block content
	include components/guideCard

	h1 Hello
		span#name  #{user.displayName}
		span !
	
	div#guides-header-wrapper
		h2 Guides
		button#new-guide-button.material-symbols-outlined add
		
	include partials/newGuide

	ul#guides
		each guide in user.guides
			li
				guide-card(data-id= guide.id, data-title= guide.title)
