extends layouts/default

block head
	meta(name="data-guide-id", content= guide.id)

block content
	include partials/guideEditorHeader
	main
		for section in guide.sections
			section(class="guide-editor-section")
				h2= section.title
				for paragraph in section.content.split("\n")
					div.textarea-grow-wrap
						textarea(class="guide-editor-paragraph", onInput="this.parentNode.dataset.replicatedValue = this.value")= paragraph
