extends layouts/default

block head
	meta(name="data-guide-id", content= guide.id)

block content
	include partials/guideEditorHeader
	main
		for paragraph in guide.content.split("\n"):
			section
				textarea(class="guide-editor-paragraph")= paragraph
