dialog {
	background-color: var(--color-bg-default);
	color: var(--text-color);
	padding: 1em;
	border-radius: 1em;
	border: none;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.75);
}

dialog .modal-close {
	background-color: transparent;
	border: var(--border-default);
	border-color: transparent;
	color: var(--color-foreground-dimmest);
	padding: 0;
	display: block;
	margin-bottom: 0.5em;
}
