@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
	--color-bg-root: #ffffff;
	--color-bg-default: #eaeaea;
	--color-bg-higher: #dadada;
	--color-bg-highest: #cacaca;

	--color-foreground-default: #000;
	--color-foreground-dimmer: #666;
	--color-foreground-dimmest: #aaa;

	--color-link-default: #0000ee;

	--color-outline-error: #f00;
	--color-outline-default: #000;
	--color-outline-weak: #555;
	--color-outline-weaker: #888;
	--color-outline-weakest: #aaa;

	--border-emphasis: 1px solid var(--color-outline-default);
	--border-default: 1px solid var(--color-outline-weak);
	--border-subtle: 1px solid var(--color-outline-weakest);

	--border-radius-small: 0.25em;
	--border-radius-default: 0.5em;
	--border-radius-large: 1em;

	--padding-x-small: 0.25em;
	--padding-small: 0.5em;
	--padding-default: 1em;
	--padding-large: 2em;
	--padding-x-large: 3em;

	--margin-x-small: 0.25em;
	--margin-small: 0.5em;
	--margin-default: 1em;
	--margin-large: 2em;
	--margin-x-large: 3em;

	--font-family-body: "Quicksand", sans-serif;
	--font-family-heading: "Quicksand", sans-serif;

	--font-weight-h1: 700;
	--font-weight-h2: 600;
	--font-weight-h3: 500;

	--transition-default: 0.22s ease-in-out;

	--blur-default: 0.5rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg-root: #0a0a1a;
		--color-bg-default: #1a1a2a;
		--color-bg-higher: #2a2a3a;
		--color-bg-highest: #3a3a4a;

		--color-foreground-default: #f0f0f0;
		--color-foreground-dimmer: #e0e0e0;
		--color-foreground-dimmest: #a0a0a0;

		--color-link-default: #0f5aee;

		--color-outline-default: #f0f0f0;
		--color-outline-weak: #a0a0a0;
		--color-outline-weaker: #808080;
		--color-outline-weakest: #505050;
	}
}

* {
	font-family: var(--font-family-body);
}

html {
	margin: 0;
	padding: 0;
	background-color: var(--color-bg-root);
	color: var(--color-foreground-default);
}

body {
	padding: var(--padding-default);
	margin: 0;
}

h1,
h2,
h3 {
	font-family: var(--font-family-heading);
}

h1 {
	font-weight: var(--font-weight-h1);
}

h2 {
	font-weight: var(--font-weight-h2);
}

h3 {
	font-weight: var(--font-weight-h3);
}

button,
input {
	transition: border var(--transition-default);
	background-color: var(--color-bg-higher);
	color: var(--color-foreground-default);

	border: var(--border-subtle);
	border-radius: var(--border-radius-default);

	padding: var(--padding-small);
	margin: var(--margin-small) 0;
}

input:not([type="submit"]) {
	display: block;
	background-color: var(--color-bg-highest);
}

:is(button, input):focus,
:is(button, input):hover {
	border: var(--border-emphasis);
	outline: none;
}

form input.error {
	border: var(--border-emphasis);
	border-color: var(--color-outline-error);
}
