doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="theme-color", content="#112")
		title= title
		link(rel="stylesheet", href="/css/style.css")
		link(href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined", rel="stylesheet")
		link(rel="stylesheet" href="/css/" + resourceName + ".css")

		block head
	body
		block content
		script(src="/js/" + resourceName+ ".js", type="module")
