link(rel="stylesheet", href="/css/style.css")
link(rel="stylesheet", href="/css/guideEditorHeader.css")
header#guide-editor-header
	h1
		label#guide-title-label(for="guide-title-input", hidden) Guide Title
		input(type="text", value= guide.title)#guide-title-input
script(src="/js/guideEditorHeader.js", type="module") 
