link(rel="stylesheet", href="/css/modal.css")

template#x-modal-template
	form(method="dialog")
		button.modal-close.material-symbols-outlined(tabindex=0) close
	slot(name="content")

script(src="/js/modal.js", type="module")
