include ../mixins/modal

+modal()#create-guide-modal
	form#create-guide-modal-form(onsubmit="return false;", slot="content")
		input(name="title", placeholder="Title", autofocus)
		input(type="submit", value="Create Guide", style="margin: 0")

script(src="/js/newGuide.js", type="module")
